# Módulo 1: Análisis de datos en el ecosistema Python

### Sesión (2)

**11/09/2023**

# `Alejandro Sánchez Monzón`

---

### **`Ejercicio 2.1`**

**`2.1.1`** Define una lista que contenga al menos 4 elementos de todos los tipos de valores permitidos en Python.  
**`2.1.2`** Selecciona cada dos elementos (uno si otro no) desde el final de la lista.  
**`2.1.3`** Cambia solamente la posición del primer elemento con el último elemento de la lista.

In [1]:
## Solución
# Ejercicio 2.1.1
x = [10, 20.00, "Hola", True]
print(x)

[10, 20.0, 'Hola', True]

In [2]:
## Solución
# Ejercicio 2.1.2
x[::-2]

[True, 20.0]

In [3]:
## Solución
# Ejercicio 2.1.3
x[0], x[-1] = x[-1], x[0]
print(x)

[True, 20.0, 'Hola', 10]

---

### **`Ejercicio 2.2`**

**`2.2.1`** Saca e imprime la edad de "_Daniela_" utilizando los datos del diccionario declarado en el siguiente ejemplo.  
**`2.2.2`** Consulta si el "_Centro_" se encuentra entre las claves existentes en el diccionario o no.   
**`2.2.3`** Construye un _set_ a partir de las edades de todos los alumnos y muestra el tamaño de esa colección.

In [4]:
## Ejercicio 2.2
dic_ejemplo = {'Alumnos': ["Carlos", "Ana", "Daniela", "Martín"],
'Curso': "Big Data",
'Edad': ('22', '21', '20', '22'),
'Presencial': True
}

In [5]:
## Solución
# Ejercicio 2.2.1
print("Edad: ", dic_ejemplo["Edad"][dic_ejemplo["Alumnos"].index("Daniela")])

Edad:  20

In [6]:
## Solución
# Ejercicio 2.2.2
print("Centro" in dic_ejemplo.keys())

False

In [13]:
## Solución
# Ejercicio 2.2.3
edades = set(dic_ejemplo["Edad"])
len(edades)

3

---

### **`Ejercicio 2.3`**

**`2.3.1`** Recorre el listado del ejemplo y realiza las siguientes operaciones:    `[18, 50, 210, 80, 145, 333, 70, 30]`
  - Imprime el número en caso de que sea múltiplo de 10 y menor que 200
  - Parar el programa si llega a un número mayor que 300

In [8]:
## Solución
# Ejercicio 2.3.1
lista = [18, 50, 210, 80, 145, 333, 70, 30]

for item in lista:
    if item > 300:
        break

    if item%10 == 0 and item < 200:
        print(item)

50
80

**`2.3.2`** Considerando el contenido del listado *list_2_3* escribe un programa para imprimir el siguiente patrón:

False  
50  
22.22  
True  
99  
Anaconda

In [9]:
# Ejercicio 2.3.2
# Definición de la lista 
list_2_3 = ["Anaconda", 99, True, 22.22, 50, False]

In [10]:
## Solución
# Ejercicio 2.3.2
list_2_3.reverse()

for item in list_2_3:
    print(item)

False
50
22.22
True
99
Anaconda

---

### **`Ejercicio 2.4`**

**`2.4.1`** Escribe una función que devuelva el número total de carácteres en un listado de cadenas de texto y aplícala sobre el ejemplo:
  - Entrada a la función:  `["PEP 8", "PEP 248", "PEP 257"]`
  - La salida esperada:  __19__

In [11]:
## Solución
# Ejercicio 2.4.1
def total(lista):
    total = 0
    for i in lista:
        total += len(i)

    return total 

lista = ["PEP 8", "PEP 248", "PEP 257"]
total(lista)

19

**`2.4.2`** Escribe una función lambda que sea capaz de recibir cuatro variables y retornar el valor máximo y aplícala sobre este ejemplo:

  - Entrada a la función:   `143, 22, 6576, 111`
  - La salida esperada:  __6576__

In [12]:
## Solución
# Ejercicio 2.4.2
lambda_max = lambda a,b,c,d: max(a, b, c, d)

lambda_max(143, 22, 6576, 111)

6576